/* font-family: 'Open Sans', sans-serif; */

body{
    background-color:cadetblue;
}

a:hover {
    color: red;
}

a {
    color: black;
}

/* NAV SECTION */

#logo-top{
    display: block;
    margin: auto;
}

#nav-test{
    list-style: none;
    text-align: center;
    padding-top: 5%;
    padding-bottom: 6%;
}

nav ul li {
    display: inline-block;
    justify-content: space-between;
    width: 30%;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.2rem;
}

#open-line{
    font-family: 'Open Sans', sans-serif;
    font-style: italic;
    margin: auto;
    text-align: center;
    margin-bottom: 6%;
}

#sub-line{
    font-family: 'Open Sans', sans-serif;
}

#left-list{
    text-align: left;
    list-style: circle;
    
}

#img-left-col{
    
}

#process-arrow-text{
    font-family: 'Open Sans', sans-serif;
    font-style: italic;
    margin-top: 30%;
    text-align: left;
    margin-left: 10%;
}

#sub-email{
    margin-top: 35px;
}

#section-two-container{
    margin-top: 6%;
    
}

.image-rows{
    margin-left: 25%;
}

.text-rows{
    text-align: center;
}

#section-three-container{
    margin-top: 8%;
    padding-top: 8%;
    padding-bottom: 8%;
    background-image: 
    linear-gradient(
      rgba(0, 0, 0, 0.8),
      rgba(0, 0, 0, 0.8)
    ),
    url('../img/neighborhood.jpeg');
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 90%;
    border-radius:25px;
    color:white;
}

.section-three-text{
    font-family: 'Open Sans', sans-serif;
}


#main-footer{
    display: block;
    margin: auto;
}
      
.footer-text{
    text-align: center;
}

#footer-section{
    margin-top: 8%;
}

#foot-text{
    margin-top: 1%;
}

#foot-text-two{
    margin-top: 0;
    padding-top: 0;
}